body {
	background-color: lightgray;
}

main {
	margin: 30px;
	padding: 10px;
	border-radius: 10px;
	background-color: gray;
}

code {
	background-color: lightgray;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
}

pre code {
	display: block;
	/* background: none; */
	/* white-space: pre; */
	-webkit-overflow-scrolling: touch;
	/* overflow-x: scroll; */
	max-width: 100%;
	min-width: 100px;
}